<ion-view title="Page 1" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page1-list1" class=" ">
            <ion-item class="item-thumbnail-left  " id="page1-list-item1">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page1-list-item2">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div class="list card " id="page1-card21">
            <div class=" item item-image">
                <img src="img/JVWSgAFWTFqMlhu0UK0i_200" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-avatar  " id="page1-list-item3">
                <h2>Item</h2>
            </ion-item>
        </div>
        <form id="page1-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="page1-toggle1" class=" ">Toggle</ion-toggle>
            <ion-radio id="page1-radio1" class=" ">Radio</ion-radio>
            <label class="item item-input " id="page1-input2">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="page1-form1" class="list ">
            <label class="item item-input " id="page1-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>