<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>App 2 controles</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
	<div ng-controller="controller_one">
        <h1>Datos</h1>
        <ul>
            <li ng-repeat="i in names">{{ i.nombres }} {{ i.apellidos }}</li>
        </ul>		
	</div>

    <div ng-controller="controller_two">
        <h1>Numeros</h1>
        <ul>
            <li ng-repeat="k in numbers">{{ k }}</li>
        </ul>
    </div>
	
	<script type="text/javascript">
	angular.module('app', [])
	       .controller('controller_one', function($scope){
            $scope.names=[
                {
                    nombres: "Alejandro",
                    apellidos: "Romero"
                },
                {
                    nombres: "Pepo",
                    apellidos: "Perez"
                },
                {
                    nombres: "Polly",
                    apellidos: "Mala"
                }                
            ];
	       	
	       })

           .controller('controller_two', function($scope){
            $scope.numbers=[1,3,5,7,9];
           });
		
	</script>
</body>
</html>