<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  
  <ion-tab title="Page 1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/page1">
    <ion-nav-view name="page1"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Page 2" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/page2">
    <ion-nav-view name="page2"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Page 3" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/page3">
    <ion-nav-view name="page3"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Page 4" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/page4">
    <ion-nav-view name="page4"></ion-nav-view>
  </ion-tab>


</ion-tabs>
