<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <button ng-click="getDialogAlert()" id="home-button1" class=" button button-positive  button-block ">Alert</button>
        <button ng-click="getDialogConfirm()" id="home-button2" class=" button button-positive  button-block ">Confirm</button>
        <button ng-click="getDialogPromtp()" id="home-button3" class=" button button-positive  button-block ">Prompt</button>
        <div class="spacer" style="width: 300px; height: 94px;"></div>
        <a ui-sref="menu.info" id="home-button4" style="font-weight:500;" class=" button button-balanced  button-block ">Ir</a>
    </ion-content>
</ion-view>