<ion-view view-title="Page 1">
  <ion-content>
  	<ul class="list">
    	<li class="item">Hello</li>
    	<li class="item">Hello 2</li>
	</ul>
	<div class="card">
  		<div class="item item-text-wrap">
    	This is a basic Card which contains an item that has wrapping text.
  		</div>
  	</div>

  	<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</div>

  </ion-content>
</ion-view>