<ion-view title="Formulario" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="formulario-form2" class="list ">
            <label class="item item-input " id="formulario-input2">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="formulario-input3">
                <span class="input-label">Correo</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-select " id="formulario-select1">
                <span class="input-label">Sexo</span>
                <select>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-input " id="formulario-input4">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <button id="formulario-button1" class=" button button-positive  button-block ">Enviar</button>
    </ion-content>
</ion-view>