<ion-view title="Device Orientation" align-title="center" id="page3">
    <ion-content padding="true" class="has-header">
        <button id="deviceOrientation-button4" class=" button button-positive  button-block ">Tap me!</button>
        <ion-list id="deviceOrientation-list3">
            <ion-item id="deviceOrientation-list-item13">Item</ion-item>
            <ion-item id="deviceOrientation-list-item14">Item</ion-item>
            <ion-item id="deviceOrientation-list-item15">Item</ion-item>
            <ion-item id="deviceOrientation-list-item16">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>