<ion-view title="Network" align-title="center" id="page4">
    <ion-content padding="true" class="has-header">
        <button ng-click="getStatus()" id="network-button5" class=" button button-positive  button-block ">Get Info</button>
        <ion-list id="network-list4">
            <ion-item id="network-list-item17">{{ type }}</ion-item>
            <ion-item id="network-list-item18">{{ isOnline }}</ion-item>
            <ion-item id="network-list-item19">{{ isOffline }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>